<section id="services_signin" class="services">
  <h1>Sign in</h1>

  <p>
    You can sign up or sign in using one of your existing accounts at Chatter, Facebook, LinkedIn, and Twitter. Please select the provider you want to use:
  </p>

  <div>
    <%= render "services_list" %>
  </div>
</section>