<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<div style="clear:both;">
<hr/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://are4.us"><%= image_tag "are4us_tiny.png"%> Are4Us Technologies.</a> 2011©
</div>
